In [1]:
import numpy as np
import pandas as pd

In [16]:
data = pd.read_table('weather.txt')
data.head()

    Outlook  Temp Humidity Windy Play
0     Rainy   Hot     High     f   no
1     Rainy   Hot     High     t   no
2  Overcast   Hot     High     f  yes
3     Sunny  Mild     High     f  yes
4     Sunny  Cool   Normal     f  yes

In [17]:
data.shape

(14, 5)

In [29]:
X = data.drop(data.columns[-1], axis=1)
y = data[data.columns[-1]]
print('Shape of X :', X.shape)
print('Shape of y :', y.shape)

Shape of X : (14, 4)
Shape of y : (14,)

In [39]:
split = int(len(X) * 0.8)
X_train = X[ :split]
y_train = y[ :split]

X_test = X[split: ]
y_test = y[split: ]

print(X_train.shape)

(11, 4)

In [46]:
num_samples = X_train.shape[0]
num_features = X_train.shape[1]
print(f'number of samples  : ', num_samples)
print(f'number of features : ', num_features)

number of samples  :  11
number of features :  4

In [47]:
class_priors = {}
for class_label in np.unique(y_train):
    num_class_label = sum(y_train == class_label)
    print(f'Num of number {class_label} : {num_class_label}')
    class_priors[class_label] = num_class_label / num_samples
class_priors

Num of number no : 4
Num of number yes : 7

{'no': 0.36363636363636365, 'yes': 0.6363636363636364}